modules = ["web", "python-3.12"]
[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "django-server"

[[workflows.workflow]]
name = "django-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35029
externalPort = 5000

[[ports]]
localPort = 40215
externalPort = 3002

[[ports]]
localPort = 45113
externalPort = 3001

[[ports]]
localPort = 46171
externalPort = 3000

[[ports]]
localPort = 46535
externalPort = 3003

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]
